.card {
    height: 450px;
    width: 260px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    align-content: center;
    text-transform: none;
    font-weight: 600;
}